{% extends 'base.html.twig' %}

{% block title %}Astre index{% endblock %}

{% block body %}
<div class="col-md-12">
    <span>Photo du jour de la NASA:</span><h3 class="titreImage">{{imgDuJour.title}} <span><small>({{imgDuJour.date}})</small> </span></h3>
    <img src="{{imgDuJour.url}}" alt="">
    <p>{{imgDuJour.explanation}}</p>
</div>
    <h2 class="titreImage">Astre index</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Perihelion</th>
                    <th>Mass</th>
                    <th>Volume</th>
                    <th>DiscoveryDate</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for astre in astres %}
                <tr>
                    <td>{{ astre.id }}</td>
                    <td>{{ astre.name }}</td>
                    <td>{{ astre.perihelion }}</td>
                    <td>{{ astre.mass }}</td>
                    <td>{{ astre.volume }}</td>
                    <td>{{ astre.discoveryDate ? astre.discoveryDate|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('astre_detail', {'id': astre.id}) }}">Images /</a>
                        <a href="{{ path('astre_show', {'id': astre.id}) }}">Détails /</a>
                        <a href="{{ path('astre_edit', {'id': astre.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <a href="{{ path('astre_new') }}">Ajouter</a>
{% endblock %}
